<!-- first ejs file to be connect with index.js page(home) -->

<!-- injecting code to boiler plate -->
<!-- it will pass everything here to the body of boiler plate -->
<% layout('layouts/boilerPlate') %> 
    <h1>Yelpcamp Home</h1>
