<!-- file to show all campgrounds from main index.js -->

<!-- injecting code to boiler plate -->
<!-- it will pass everything here to the body of boiler plate -->
<% layout('layouts/boilerPlate') %> 
<h1>All Campgrounds</h1>
<div>
    <!-- link to new campground page -->
    <a href="/campgrounds/new">Make A New</a>
</div>

<ul>
    <!-- made all camgrounds a link when we click it will take us to a page(/campgrounds/:id) -->
    <% for(let campground of campgrounds){ %>
        <li><a href="/campgrounds/<%=campground._id %>">
                <%= campground.title%>
            </a></li>
        <%}%>
</ul>

<!-- injecting code to boiler plate -->