<!-- page for creating new campgrounds coonected to /campgrounds/new -->

<!-- injecting code to boiler plate -->
<!-- it will pass everything here to the body of boiler plate -->
<% layout('layouts/boilerPlate') %>

    <form action="/Campgrounds" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="campground[title]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="campground[location]">
        </div>
        <button>Add Campground</button>
    </form>

    <footer>
        <!--back to all campgrounds  -->
        <a href="/campgrounds">All Campgrounds</a>
    </footer>