<!-- file to show specific campground details  --> 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>

<body>
    <!-- it will show title of that one found campground -->
    <h1>
        <%= campground.title %>
    </h1>
    <!-- it will show location of that one found campground -->
    <h2>
        <%= campground.location %>
    </h2>


    <footer> 
           <!--back to all campgrounds  -->
        <a href="/campgrounds">All Campgrounds</a>
    </footer>

</body>

</html>